@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .label-style {
    color: #0f151a;
    font-weight: 600;
  }
  .input-style {
    border-radius: 6px;
    padding: 10px 15px;
    border: 1px solid #0f151a;
  }
  .styled-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance:none;
}
}

.slick-slide > div {
 margin-right: 20px; 
}
